.community {
    color: var(--text);
    margin-top: calc(var(--header-height, 45px) + 20px);
}
.community-signin {
    color: var(--text);
}
.community-header {
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.community-header div {
    display: flex;
    align-items: center;
}
.community-header.scrolled {
    border-bottom: 0.5px solid var(--outline);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}