@keyframes slidein-from-left {
    from {
        transform: translateX(-70px);
    } to {
        transform: translateX(0px);
    }
}

.editor {
    width: 100%;
    height: 100%;
    color: var(--text);
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--primary-background);
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.5);
    border-bottom: 0.5px solid var(--outline);
}
.header-button {
    padding: 10px;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-button:hover {
    background-color: var(--secondary);
}
.header.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.design-name {
    -webkit-appearance: none;
    background-color: var(--primary-background);
    color: var(--text);
    border: none;
    font-size: 13pt;
    font-family: var(--font);
    font-weight: 700;
    padding: 5px;
    border-radius: 10px;
    outline: none;
}
.design-name:hover {
    background-color: var(--secondary);
}
.toolbar {
    position: absolute;
    top: 70px;
    bottom: 15px;
    left: 15px;
    overflow-y: scroll;
    background-color: var(--primary);
    border: 0.5px solid var(--outline);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    animation: slidein-from-left 0.3s ease;
}
.toolbar::-webkit-scrollbar {
    display: none;
}
.toolbar-button {
    padding: 5px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
}
.toolbar-button:hover {
    background-color: var(--secondary);
}
.toolbar-button img {
    -webkit-user-drag: none;
}