@keyframes slidein-from-left {
    from {
        transform: translateX(-70px);
    } to {
        transform: translateX(0px);
    }
}

@keyframes slidein-from-bottom {
    from {
        transform: translateY(70px);
    } to {
        transform: translateY(0px);
    }
}

@keyframes slidein-from-bottom-special {
    from {
        transform: translateY(-2.5px);
        opacity: 0;
    } to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes zoomout {
    from {
        opacity: 0;
        transform: scale(1.05);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

.editor {
    width: 100%;
    height: 100%;
    color: var(--text);
}
.editor canvas {
    width: 100%;
    height: 100%;
}
.mobile-menu-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    user-select: none;
}
.mobile-menu-button.nomargin {
    margin-bottom: 0;
}
.mobile-menu-button:hover {
    background-color: var(--theme);
}
.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 9999;
}
.spinner {
    width: 50px;
    height: 50px;
    border: 10px solid var(--outline);
    border-top: 10px solid var(--theme);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--primary-background);
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.5);
    border-bottom: 0.5px solid var(--outline);
}
.desktop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}
.desktop-header .header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.desktop-header .header-right {
    padding: 5px;
    padding: 7px;
}
.share-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 6px;
    user-select: none;
    background: #00A3FF;
    background: linear-gradient(45deg,rgba(0, 163, 255, 1) 0%, rgba(0, 67, 105, 1) 100%);
    border-radius: 10px;
    cursor: pointer;
}
.share-button p {
    font-weight: bold;
    font-size: 10pt;
}
.export-dialog {
    position: absolute;
    right: 10px;
    top: 70px;
    z-index: 9999999;
    width: 250px;
    user-select: none;
    background-color: var(--primary);
    border: 0.5px solid var(--outline);
    padding: 10px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.5);
    animation: slidein-from-bottom-special 0.2s ease;
}
.export-option {
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.export-option:hover {
    background-color: var(--tertiary);
}
.export-option.special {
    background: linear-gradient(45deg,rgba(0, 163, 255, 1) 0%, rgba(0, 67, 105, 1) 100%);
}
.mobile-menu {
    z-index: 9999999;
    position: absolute;
    right: 10px;
    top: 70px;
    background-color: var(--primary);
    border: 0.5px solid var(--outline);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    animation: slidein-from-bottom-special 0.2s ease;
}
.header-button {
    padding: 10px;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-button:hover {
    background-color: var(--secondary);
}
.header-button img {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}
.header.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.design-name {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--primary-background);
    color: var(--text);
    border: none;
    font-size: 13pt;
    font-family: var(--font);
    font-weight: 700;
    padding: 5px;
    border-radius: 10px;
    outline: none;
}
.design-name:hover {
    background-color: var(--secondary);
}
.toolbar {
    position: absolute;
    top: 70px;
    bottom: 15px;
    left: 15px;
    overflow-y: scroll;
    background-color: var(--primary);
    border: 0.5px solid var(--outline);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    animation: slidein-from-left 0.3s ease;
}
.toolbar::-webkit-scrollbar {
    display: none;
}
.toolbar-button {
    padding: 5px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.toolbar-button.active {
    background-color: var(--theme);
}
.toolbar-button:not(.mobile) {
    margin-bottom: 5px;
}
.toolbar-button:hover {
    background-color: var(--secondary);
}
.toolbar-button img {
    -webkit-user-drag: none;
    width: 18px;
    height: 18px;
}
.mobile-toolbar {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow-x: scroll;
    background-color: var(--primary);
    border: 0.5px solid var(--outline);
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    animation: slidein-from-bottom 0.3s ease;
}
.mobile-toolbar::-webkit-scrollbar {
    display: none;
}
.toolbar-button.mobile {
    padding: 5px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
}
.toolbar-button.mobile img {
    width: 28px;
    height: 28px;
}
/* Editor's home page */
.editor-home {
    color: var(--text);
    padding: 20px;
}
body::-webkit-scrollbar {
    width: 16px;
    padding: 5px;
}
body::-webkit-scrollbar-button:single-button {
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: center;
}

body::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url('../assets/arrow-up.svg');
    height: 16px;
    width: 16px;
    background-position: center 4px;
}

body::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 16px;
    width: 16px;
    background-position: center 2px;
    background-image: url('../assets/arrow-down.svg');
}
body::-webkit-scrollbar-track {
    background: var(--primary);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    background-clip: padding-box;
    border-radius: 6px;
    border: 2px solid transparent;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--outline);
}
.editor-recents-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.editor-recents-entry {
    background-color: var(--secondary);
    border: 0.5px solid var(--outline);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.5);
}
.editor-recents-entry:hover {
    transform: scale(1.005);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
}
.editor-recents-entry img {
    width: 360px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.editor-recents-details {
    padding: 20px;
    padding-top: 10px;
}
.recents-details-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.recents-details-title span {
    color: var(--outline);
    margin-left: 10px;
    font-size: 10pt;
}
.clickable-button-mini {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    max-width: fit-content;
    user-select: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}
.clickable-button-mini:hover {
    background-color: var(--secondary);
}
.clickable-button-mini img {
    -webkit-user-drag: none;
    margin-right: 5px;
}
.editor-quicktool {
    display: flex;
}
body {
    overflow-y: auto;
}
.dialog {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    animation: zoomout 0.3s ease;
}
.dialog-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: var(--primary);
    border-radius: 20px;
    width: 27%;
    border: 0.5px solid var(--outline);
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.5);
}
.dialog-choice {
    display: flex;
    flex-direction: row;
}
.dialog-button {
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 10px;
    user-select: none;
    margin-right: 10px;
}
.editor-recents-none {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.editor-recents-none p {
    color: #676767;
}
.blueprint-container {
    background-color: var(--secondary);
    padding: 20px;
    animation: slidein-from-bottom-special 0.2s ease;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.blueprint-childcontainer {
    display: flex;
}
.blueprint-childcontainer .blueprint-textarea {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
}
.blueprint-container textarea {
    -webkit-appearance: none;
    background-color: transparent;
    color: var(--text);
    font-family: var(--font);
    resize: none;
    border: none;
    height: 100%;
    display: flex;
    outline: none;
    width: 100%;
}
.blueprint-button {
    display: flex;
    align-items: center;
    align-self: flex-end;
    width: 20px;
    height: 20px;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--theme);
    cursor: pointer;
    margin-top: 10px;
}
.blueprint-messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.blueprint-messages .message {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    justify-content: flex-end;
    animation: slidein-from-bottom-special 0.2s ease;
}
.blueprint-messages .message.user {
    align-self: flex-end;
    background-color: var(--primary);
    flex-direction: row-reverse;
}
.blueprint-messages .message:not(.user) {
    background-color: var(--secondary);
    flex-direction: row;
}
.blueprint-messages .message:not(.user) img {
    margin-right: 10px;
}
.blueprint-messages .message.user img {
    margin-left: 10px;
}
.message-content {
    display: flex;
    flex-direction: column;
}
.blueprint-design-link {
    text-decoration: none;
    background-color: var(--primary-background);
    max-width: fit-content;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-weight: 700;
    border: 0.5px solid var(--outline);
}
.blueprint-design-link:hover {
    background-color: var(--primary);
}