@keyframes slidein-from-bottom {
    from {
        transform: translateY(-10px);
        opacity: 0;
    } to {
        transform: translateY(0px);
        opacity: 1;
    }
}
.home-container {
    color: var(--text);
}
.header {
    padding: 10px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    background-color: var(--primary-background);
}
.header.scrolld {
    border-bottom: 0.5px solid var(--outline);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}
.header-beta {
    background-color: rgba(255, 170, 0, 0.25);
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}
.header-beta span {
    color: rgb(255, 225, 0);
    font-weight: bold;
}
.header-bottom-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.language-switcher-preview {
    background-color: var(--primary);
    padding: 10px;
    user-select: none;
    border: 0.5px solid var(--outline);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.language-switcher-preview:hover {
    background-color: var(--secondary);
}
.language-switcher-preview img {
    margin-right: 10px;
}
.language-switcher-dropdown {
    background-color: var(--primary);
    padding: 10px;
    user-select: none;
    border: 0.5px solid var(--outline);
    border-radius: 10px;
    position: absolute;
    right: 10px;
    margin-top: 20px;
    backdrop-filter: blur(10px);
    animation: slidein-from-bottom 0.2s ease;
}
.language-dropdown-choice {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.language-dropdown-choice.end {
    margin-bottom: 0px;
}
.language-dropdown-choice.language-active:hover {
    background-color: var(--tertiary);
}
.language-dropdown-choice:hover {
    background-color: var(--secondary);
}
.language-dropdown-choice.language-active {
    background-color: var(--secondary);
}
.language-dropdown-choice img {
    margin-right: 10px;
}
.footer {
    margin-top: 50px;
    padding: 20px;
    display: flex;
    background-color: var(--secondary);
}
.footer div {
    margin-right: 40px;
}
a {
    color: var(--text);
}
.app-content {
    word-wrap: break-word;
    margin-top: 73.5px;
    padding-left: 20px;
    padding-right: 20px;
}
.header-leftside-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-leftside-group a {
    display: flex;
    align-items: center;
}
.header-leftside-links {
    margin-left: 20px;
}
.header-rightside-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hero-biggiewrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.hero-biggiewrapper.mobile{
    flex-direction: column-reverse;
}
.hero-biggiewrapper.mobile .hero-left {
    width: 100%;
}
.hero-left {
    width: 50%;
}
.hero-left > * {
    margin-bottom: 5px;
}
.hero-left div a {
    text-decoration: none;
}
.startpage-button {
    appearance: none;
    background-color: var(--secondary);
    border: none;
    font-weight: bold;
    font-family: var(--font);
    color: var(--theme);
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-between;
    font-size: 14pt;
    cursor: pointer;
    padding: 12px;
    border-radius: 10px;
    margin-right: 15px;
}
.startpage-button:hover {
    transition: all 0.2s ease;
    filter: brightness(1.3);
}
.startpage-button.important {
    background-color: var(--theme);
    color: var(--text);
}