* {
    margin: 0;
}
body {
    background-color: var(--primary);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text);
}
small {
    font-size: 9pt;
}
.menubar {
    display: flex;
    padding: 5px;
    align-items: center;
}
.menubar-centered {
    justify-content: center;
    padding: 5px;
    user-select: none;
    -webkit-app-region: drag;
    display: flex;
    flex: 1;
}
.window-actions {
    display: flex;
    justify-content: flex-end;
}
.window-actions button {
    -webkit-appearance: none;
    border: none;
    padding: 5px;
    justify-content: center;
    width: 40px;
    margin-left: 10px;
    user-select: none;
    display: inline-flex;
    align-items: center;
    background-color: var(--primary);
}
.window-actions button img {
    width: 16px;
}
.window-actions button:hover {
    background-color: var(--secondary);
}
.menubar-branding {
    user-select: none;
}
.toolbar {
    padding: 5px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.toolbar button {
    -webkit-appearance: none;
    border: none;
    padding: 8px;
    border-radius: 10px;
    justify-content: center;
    margin-left: 10px;
    user-select: none;
    display: inline-flex;
    align-items: center;
    background-color: var(--primary);
}
.toolbar button:hover {
    background-color: var(--secondary);
}
.container {
    display: flex;
    flex-direction: row;
}
.division-line {
    border-left: 1px solid var(--text);
    margin-left: 10px;
    height: 35px;
}
.simulation-speed-indicator {
    margin-left: 10px;
    user-select: none;
    align-self: center;
    font-size: 15pt;
    font-weight: bold;
}
.quick-tool {
    flex-direction: column;
    display: flex;
    padding: 5px;
    flex: 1;
    height: calc(100vh - 130px);
    max-width: fit-content;
    background-color: var(--secondary);
}
.quick-tool button {
    -webkit-appearance: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    user-select: none;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    background-color: var(--secondary);
}
.quick-tool button:hover {
    background-color: var(--tertiary);
}
.quick-tool button img  {
    width: 20px;
}
.canvas-container {
    
}
.canvas-container canvas {
    background-color: #161616;
    display: flex;
    width: calc(100vw - 85px);
    height: calc(100vh - 120px);
    justify-content: space-between;
}
.properties-selector {
    justify-content: flex-start;
    display: inline-flex;
    text-align: left;
    width: 30%;
    overflow-x: hidden;
    height: calc(100vh - 130px);
    padding: 5px;
    padding-right: 10px;
    background-color: var(--secondary);
}
.tool-switch {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-appearance: none;
    border: none;
    background-color: var(--tertiary);
    color: var(--text);
    display: flex;
    flex: 1;
    padding: 10px;
}
.very-dynamic-form {
    display: flex;
    flex-direction: column;
}
.text-input-generic {
    -webkit-appearance: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: var(--disabled-secondary);
    padding: 5px;
    color: var(--text);
    outline: none;
    display: flex;
    width: calc(100% + 55px);
    resize: none;
}
.submit-form {
    -webkit-appearance: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    justify-content: center;
    justify-self: center;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: var(--disabled-secondary);
    padding: 5px;
    color: var(--text);
    outline: none;
    display: flex;
    width: calc(100% + 65px);
    resize: none;
}
.submit-form:hover {
    background-color: var(--tertiary);
}
.status-bar {
    padding: 5px;
    background-color: var(--secondary);
    font-size: 9pt;
}