@font-face {
    font-family: 'OneUISans';
    src: url('../../assets/fonts/OneUISans.ttf') format('truetype');
}
:root {
    --primary: #1d1d1d;
    --secondary: #2e2e2e;
    --tertiary: #3f3f3f;
    --disabled-secondary: #242424;
    --outline: #636363;
    --text: #efefef;
    --main-font: 'OneUISans', sans-serif; 
}