/*:root {
    --primary: #1d1d1d;
    --secondary: #2e2e2e;
    --tertiary: #3f3f3f;
    --disabled-secondary: #242424;
    --text: #efefef;
    --theme: #00A3FF;
    --main-font: 'Segoe UI Variable Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}*/
@font-face {
    font-family: 'newstroke';
    src: url('../assets/newstroke.ttf');
}
@keyframes pop {
    from {
        opacity: 0;
        transform: scale(1.2);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}
body {
    overflow-y: hidden;
}
.menubar {
    padding: 10px;
    display: flex;
}
.menubar-interaction {
    padding: 10px;
    display: flex;
    user-select: none;
    border-radius: 10px;
    margin-right: 10px;
}
.menubar-interaction:hover {
    background-color: var(--secondary);
    max-width: fit-content;
    max-height: fit-content;
}
.working-area {
    display: flex;
    flex: 1;
    min-height: fit-content;
}
.toolbar {
    padding: 5px;
    background-color: var(--secondary);
    max-width: fit-content;
    flex: 1;
}
.canvas-container {
    max-width: fit-content;
}
.canvas-container canvas {
    flex: 1;
}
.menubar {
    display: flex;
    align-items: center;
}
.menubar-interaction img {
    width: 24px;
}
.toolbar-tool img {
    width: 18px;
    user-select: none;
}
.toolbar-tool {
    padding: 5px;
    display: flex;
    margin-bottom: 10px;
}
.toolbar-tool:hover {
    background-color: var(--tertiary);
}
.tooltip-renderer {
    position: absolute;
    user-select: none;
    bottom: 0;
    font-size: 9pt;
    margin-left: 10px;
    margin-bottom: 10px;
}
.button-user-interaction {
    margin-top: 0;
    display: flex;
    margin-right: 0;
}
.button-user-interaction p {
    font-size: 9pt;
    font-weight: 400;
}
.nested-shit {
    display: inline-block;
}
.right-wing {
    margin-left: auto;
    order: 2;
}
.top-text-input {
    -webkit-appearance: none;
    border: none;
    background-color: var(--primary);
    color: var(--text);
    font-weight: 800;
    outline: none;
    font-size: 18pt;
    font-family: 'Circular', system-ui;
    padding: 10px;
    border-radius: 10px;
}
.top-text-input:hover {
    background-color: var(--secondary);
    transition: all 0.2s ease;
}
.share-design {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%; /* Change right to left for horizontal centering */
    transform: translate(-50%, -50%); /* Center the modal */
    background-color: var(--secondary);
    pointer-events: all;
    width: 28%;
}

.blackout {
    background-color: rgba(0, 0, 0, 0.5);
    animation: pop 1s ease;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9999999999999999999;
    height: 100vh;
    pointer-events: stroke;
}
.link-output {
    -webkit-appearance: none;
    display: flex;
    border: none;
    margin-top: 5px;
    padding: 5px;
    width: 95%;
    background-color: var(--tertiary);
    border-radius: 13px;
}
.link-output input {
    display: inline-block;
    width: 97%;
    margin-left: 10px;
    -webkit-appearance: none;
    background-color: var(--tertiary);
    border: none;
    font-family: 'Fira Mono', monospace;
    color: var(--text);
}
.link-output .copy-link {
    display: inline-flex;
    background-color: #0091E2;
    width: 28px;
    height: 28px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.close-modal-generic {
    background-color: #0091E2;
    max-width: fit-content;
    padding: 10px;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}