/* Using UI2 for mobile because why not? */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes slidedown {
    from {
        transform: translateY(-5px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-from-right-to-full {
    from {
        transform: translateX(150%);
    }
    to {
        transform: translateX(0%);
    }
}
@keyframes slide-from-full-to-right {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(150%);
    }
}
:root {
    --primary-ui2: rgba(29, 29, 29, 0.85);
    --secondary-ui2: rgba(100, 100, 100, 0.3);
    --tertiary: #3f3f3f;
    --disabled-secondary: #242424;
    --outline: #636363;
    --text: #efefef;
    --theme: #0080FF;
    --main-font: 'OneUISans', sans-serif; 
}
body {
    font-family: 'OneUISans', system-ui;
    background-color: #1d1d1d;
    color: var(--text);
    overflow-x: hidden;
    overflow-y: hidden;
}
.canvas-container {
    max-width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
canvas {
    display: flex;
    flex: 1;
}
.overlay-misc {
    z-index: 999;
    position: absolute;
    bottom: 0px;
    left: 50%;
    right: 50%;
}
.swipable-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 10px;
    transform: translate(-50%, -50%);
    background-color: var(--primary-ui2);
    border: 0.5px solid var(--outline);
    border-radius: 20px;
    width: 80vw;
    max-width: 80vw;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
}
.swipable-toolbar::-webkit-scrollbar {
    display: none;
}
.swipable-safearea {
    display: flex;
    width: 80vw;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
}
.swipable-safearea button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-right: 10px;
    appearance: none;
    background-color: rgba(0,0,0,0);
    border: none;
    border-radius: 10px;
}
.swipable-safearea button:active {
    background-color: var(--secondary-ui2);
}
.swipable-safearea button img {
    width: 30px;
    height: 30px;
    user-select: none;
    -webkit-user-drag: none;
}
.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 9999;
}
.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
}
.spinner {
    width: 50px;
    height: 50px;
    border: 10px solid var(--outline);
    border-top: 10px solid var(--theme);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
.menu-list {
    position: absolute;
    top: 80px;
    right: 20px;
    animation: slidedown 0.3s ease-in-out;
}
.dropdown {
    animation: slidedown 0.3s ease-in-out;
}
.menu-bar {
    background-color: var(--primary-ui2);
    border: 0.5px solid var(--outline);
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}
.menu-item {
    padding: 10px;
}
.dropdown-item {
    padding: 10px;
}
.dropdown-item-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}
.dropdown-item-content img {
    margin-right: 5px;
}
.dropdown-item-content span {
    text-align: right;
}
.menu-item-content {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--secondary-ui2);
    border-radius: 10px;
}
.header-mobile {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #1d1d1d;
    border-bottom: 0.5px solid var(--outline);
    padding: 20px;
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.workspace {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.workspace.hidden {
    right: -100%;
}
.home-screen {
    padding: 20px;
}
.footer-navigator {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--secondary-ui2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}
.recents-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-ui2);
    padding: 15px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}